body
{
    background-image: url('images/texture.jpg');
    background-size: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px
    /*z-index: 10;*/
}

.navbar {
	width: auto;
	height: 80px;
}

.navbar a {
	font-size: 45px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #1e2324;
	text-align: center;
	display: block;
	text-decoration: none;
	padding: auto 20px;
	font-weight: 800;
	ocapity: 80%;
}

.rules {
	float: right;
}

.home {
	float: left;
}

.navbar a:hover {
	background-color: #1e2324;
	clip-path: polygon(22% 0, 83% 0, 94% 7%, 93% 90%, 53% 100%, 8% 93%, 7% 5%);
	color: grey;
	font-size: 35px;
}

.loseText {
	font-size: 150px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	font-weight: 800;
	opacity: 50%;
	color: #1e2324;
}

.counter {
	font-size: 50px;
	color: #1e2324;
	opacity: 80%;
	text-align: center;
	font-weight: 600;
}



